/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*color */
:root{
  --main-color:#269dec;
  --segundo-color: #212f3d;
  --tercer-color:hwb(34 4% 3%);

  }

.section{
  padding: 100px;
}
#inicio{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transform: 0.5s;
}
.logo{
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--segundo-color);
  font-weight: 700;
}
ul{
  display: flex;
}
ul li a{
  padding: 10px 22px;
  color: var(--segundo-color);
  border-radius: 2px;
  font-weight: 600;
  letter-spacing: 1px;
}
ul li a:hover{
  background: var(--main-color);
  color: #fff;
  border: none;
}

.inicio-text{
  max-width: 500px;
}
.inicio-text h1{
  color: var(--segundo-color);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  line-height: 5.5rem;
}

.inicio-text span{
  color: var(--main-color)
}

.inicio-imagen{
  width: 500px;
  height: 500px;
}

.inicio-imagen img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}


.inicio-text a:hover{
  background: var(--segundo-color);
  box-shadow: 0 10px 34px rgba(0,0,0,0.14);
}

/* redes*/
.redes{
  position: absolute;
  display: flex;
  bottom: 8%;
  left: 144px;
}

.redes i{
  margin-right: 5px;
  font-size: 24px;
  color: var(--segundo-color)
}

.redes i:hover{
  color: var(--main-color)
}
/*Heading*/
.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading h2{
  color: var(--segundo-color);
  border-bottom: 3px solid var(--segundo-color);
  font-size: 1.8rem;
}

.sobremi-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sobremi-img{
  width: 320px;
  height: 500px;
}

.sobremi-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;

}
.sobremi-txt{
  width: 500px;
  justify-content: center;
}
.sobremi-txt h1{
  font-size: 1.5rem;
  color: var(--segundo-color)
}
.sobremi-txt p{
  color: var(--segundo-color);
  margin: 5px 0 24px;
  text-align: justify;
  line-height: 1.8 rem;
}
.sobremi-txt a{
  padding: 12px 34px;
  background: var(--main-color);
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.sobremi-txt a:hover{
  background: var(--segundo-color);
  box-shadow: 0 10px 34px rgba(0,0,0,0.14);
}

/*habilidades*/

.habilidades-content{
  display:  flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.habilidades-content .caja{
  padding: 20px 20px;
  background: var(--main-color);
  color: #fff;
  max-width: 320px;
  margin: 9px;
  /*border-radius: 10px;*/
  text-align: center;
  box-shadow: 0px 0px 5px 1px black

  
}
.caja img{
  height: 60px;
}
.caja h1{
  font-size: 1.3rem;
}
.caja p{
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}
.habilidades-content .caja:hover{
  transform: translate(-10px);
  background: var(--segundo-color);
  transition: 0.5s;
}

/*proyectos*/

.proyectos-content{
  display:  flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
  

.proyectos-content .cajap{
  padding: 20px 20px;
  background: var(--main-color);
  color: #fff;
  max-width: 320px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
 
}
.cajap img{
  height: 185px;
}
.cajap h1{
  font-size: 1.3rem;
}
.cajap p{
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}
.proyectos-content .cajap:hover{
  transform: translate(-10px);
  background: var(--tercer-color);
  transition: 0.10s;
}

/*contacto*/
.heading.color h2{
  color: #fff;
  border-bottom: 3px solid #fff;
  font-size: 1.8rem;
}
.color p{
  color: #fff;
}
#contacto{
  background: var(--segundo-color);
}

.contacto-content{
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.contacto-form{
  width: 360px;
  margin-top: 4rem;
}
.contacto-form form input,
.contacto-form form textarea{
  width: 100%;
  font-size: 13px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  margin-bottom: 12px;
}
.contacto-form form input::placeholder,
.contacto-form form textarea::placeholder{
  color: var(--segundo-color);
  letter-spacing: 1px;
}
.contacto-form form textarea{
  resize: none;
  height: 200px;
}
.boton-contacto{
  max-width: 100px;
  font-weight: 600;
  background: var(--main-color);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;  
}
.formulario{
  max-width: 360px;
}
.formulario h1{
  color: #fff;
  font-size: 1.6rem;
  margin: 5px 0 24px;
}
.formulario i{
  color: var(--main-color);
  font-size: 45px;
  margin-right: 10px;
}
.formulario i:hover{
  transform: translateY(-10px);
  transition: 0.5s;
}
.copyright{
  padding: 20px;
  background: var(--segundo-color);
  color: #fff;
  text-align: center;
}
/*responsividad*/

@media (max-width: 768px){
  nav{
    padding: 10px 50px;
    z-index: 1000;
  }
  .menu{
    position: fixed;
    top: 60px;
    right: 100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: var(--segundo-color);
    transition: 0.5s ease;
    z-index: 999;
    border-top: 1px solid rgba(0,0,0,0.2);
  }

  .menu.active{
    right:  0;
  }
  nav ul li a{
      font-size: 35px;
      line-height: 80px;
      color:#fff;
  }
  .toggle{
    width: 40px;
    height: 40px;
    background: url(/img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  .toggle.active{
    background: url(/img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  section{
    padding:  80px;
  }
  .inicio-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
    line-height: 4rem;
  }
  .inicio-imagen{
    width: 400px;
    height: 400px;
  }
  .heading h2{
    font-size: 1.6rem;
  }
  .sobremi-img{
    width: 250px;
    height: 400px;
  }
  .sobremi-txt{
    width: 400px;
  }
  .sobremi-txt h1{
    font-size: 1.3rem;
  }
  .sobremi-txt p{
    line-height: 1.5rem;
  }
  
}

@media (max-width: 871px){
  section{
    padding:50px;
  }
}

@media (max-width: 800px){
  section{
    padding:35px
  }
}

@media (max-width: 600px){
  section{
    padding: 35px;
  }
  #inicio{
    flex-direction: column;
  }
  .inicio-text{
    max-width: 400px;
    margin-top: 2rem;
  }
  .inicio-imagen{
    width: 345px;
    height: 400px;
  }
  .inicio-text h1{
    font-size: 2rem;
    margin-bottom: 1.8rem;
    line-height: 3rem;
  }
  .sobremi-content{
    flex-direction: column;

  }
  .sobremi-txt{
    max-width: 280px;
  }
  .contacto-content{
    flex-direction: column;
  }
  .formulario{
    margin-top: 4rem;
  }
  .contacto-form{
    width: 300px ;
  }
}

